@model VstsDemoBuilder.Models.LoginModel
@{
    ViewBag.Title = "Azure DevOps Server Demo Generator";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/assets/css/custom.min.css">
    <title>Verify</title>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

</head>
<body>
    <section class="section-1 d-flex flex-column">
        <main class="d-flex">
            <div class="VSTS-hero-image d-none d-sm-flex flex-column" style="position:relative;">
                <div class="VSTS-hero p-4">
                    <div class="display-4 ml-5 text-white text-center" style="font-weight: 400;">
                        <img src="~/assets/images/VS_logo.png" alt="" width="60px" class="p-2">
                        Azure DevOps Server Demo Generator
                    </div>
                </div>

                <div class="VSTS-hero-text text-primary p-5" style="position: absolute; bottom: 0;width: 100%;">
                </div>
            </div>
            <div class="VSTS-details d-flex flex-column">
                <img class="d-block mx-auto demo-generator-details-logo mt-2 mt-md-5" src="~/assets/images/VSTS_full_logo.png" alt="">
                <h6 class="h6 text-primary mt-3 text-uppercase text-center"><a href="https://docs.microsoft.com/azure/devops/demo-gen/?view=vsts" target="_blank">Azure DevOps Server Demo Generator</a></h6>
                <p class="text-center">
                    Azure DevOps Server Demo Generator helps you create projects on your Azure DevOps Server Collection with pre-populated  sample content that includes source code, work items, iterations, service endpoints, build and release definitions based on a template you choose. <a href="https://docs.microsoft.com/en-us/azure/devops/demo-gen/use-vsts-demo-generator-v2?view=vsts" target="_blank">Read more</a>
                </p>
                <p class="text-center mb-0">
                    The purpose of this system is to simplify working with the <a href="https://www.azuredevopslabs.com" target="_blank"> Azure Devops Server hands-on-labs</a>, demos and other education material provided by the Microsoft Visual Studio Marketing team.
                </p>
                <div>
                    <form method="post" action="~/account/verify" id="Verify">
                        <div class="row m-3">
                            <label class="col-sm-4">Server Name :</label>
                            @Html.TextBoxFor(m => Model.TFSserverName, new { @class = "form-control col-sm-8", @id = "TFSserverName", placeholder = "Server Name or IP Address or Domain name" })
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-4">Collection :</label>
                            @Html.TextBoxFor(m => Model.Collection, new { @class = "form-control col-sm-8", @id = "txtCollection", placeholder = "Collection Name" })
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-4">Port :</label>
                            @Html.TextBoxFor(m => Model.Port, new { @class = "form-control col-sm-8", @id = "txtPort", placeholder = "Port" })
                        </div>
                        <div class="row m-3">
                            <label class="col-sm-4">PAT :</label>
                            @Html.PasswordFor(m => Model.PAT, new { @class = "form-control col-sm-8", @id = "PAT", placeholder = "Personal Access Token", @value = Model.PAT })
                        </div>
                    </form>
                </div>
                <div class="text-center form-group">
                    <button type="button" id="btnSubmit" class="btn btn-primary">Validate</button>
                    <div style="display: inline-block; padding-left: 50px;" class="col-sm-2">
                        <img src="~/Images/loading.gif" alt="loading" id="imgLoading" style="display: none;" />
                    </div>
                </div>
                <div class="alert alert-danger text-center" id="txtALertContainer" style="display: none;">
                    <label id="txtAlert"></label>
                </div>
            </div>
        </main>
        <footer class="footer bg-light text-sm p-2 text-center d-flex flex-column flex-sm-row text-sm-left">
            <a href="https://www.ecanarys.com" class="text-primary mr-sm-auto" target="_blank">Developed by Canarys Automations Pvt Ltd</a>
            <div class="link">
                <script>function fbs_click() { u = "https://azuredevopsdemogenerator.azurewebsites.net/"; t = +Azure + DevOps + Demo + Generator & window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436'); return false; }</script>
                <a href="http://www.facebook.com/sharer.php?u=https://azuredevopsdemogenerator.azurewebsites.net/&t=Azure+DevOps+Demo+Generator" target="_blank"><img src="~/Images/facebook.png" style="width:20px;" /></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://azuredevopsdemogenerator.azurewebsites.net/&t=Azure+DevOps+Demo+Generator" target="_blank"><img src="~/Images/linkedin.png" style="width:20px;" /></a>&nbsp;&nbsp;
                <a href="https://twitter.com/intent/tweet?url=https://azuredevopsdemogenerator.azurewebsites.net/&amp;text=Azure+DevOps+Demo+Generator&amp;via=visualstudio&amp;hashtags=azuredevopsdemogenerator,DevOpsLabs" target="_blank"><img src="~/Images/twitter.png" style="width:20px;" /></a>&nbsp;&nbsp;

                <a href="https://www.visualstudio.com/support/support-overview-vs" target="_blank" class="text-primary ml-3">Contact Us</a>
                <a href="https://go.microsoft.com/fwlink/?LinkID=264782" target="_blank" class="text-primary ml-3">Privacy</a>
                <a href="https://go.microsoft.com/fwlink/?LinkID=266231" target="_blank" class="text-primary ml-3">Terms of Use</a>
                <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx" target="_blank" class="text-primary ml-3">Trademarks</a>
            </div>
        </footer>
    </section>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#signInWithVSTS').click(function () {
            appInsights.trackEvent("Sign in button clicked");
            ga('send', 'event', 'Sign In', 'Clicked');
            window.location.href="../Account/index";
        });

        ga('send', 'event', 'Verify page', 'visited');
    });

	$("input").on("keypress", function (e) {
		if (e.which === 32 && !this.value.length)
			e.preventDefault();
	});
	$(document).keypress(function (e) {
		if (e.which == 13) {
			$('#btnSubmit').click();
			return false;
		}
    });
    $("#btnSubmit").click(function () {
        $("#imgLoading").show();
        $("#btnSubmit").prop("disabled", true);
            var ServerName = $("#TFSserverName").val();
            var Collection = $("#txtCollection").val();
            var port = $("#txtPort").val();
            var PAT = $("#PAT").val();
            if (ServerName == '') {
                $("#txtAlert").text("Please Enter Server Name");
                $("#txtALertContainer").show();
                $("#TFSserverName").focus();
                $("#imgLoading").hide();
                $("#btnSubmit").prop("disabled", false);
                return false;
            }
            if (Collection == '') {
                $("#txtAlert").text("Please Enter Collection Name");
                $("#txtALertContainer").show();
                $("#txtCollection").focus();
                $("#imgLoading").hide();
                $("#btnSubmit").prop("disabled", false);
                return false;
            }
            if (port == '') {
                $("#txtAlert").text("Please Enter port number");
                $("#txtALertContainer").show();
                $("#txtPort").focus();
                $("#imgLoading").hide();
                $("#btnSubmit").prop("disabled", false);
                return false;
            }
            if (PAT == '') {
                $("#txtAlert").text("Please Enter PAT");
                $("#txtALertContainer").show();
                $("#PAT").focus();
                $("#imgLoading").hide();
                $("#btnSubmit").prop("disabled", false);
                return false;
            }
        $("#Verify").submit();
    });

	$(function () {
		if ('@Model.Message' != '') {
			$("#txtAlert").text('@Model.Message');
			$("#txtALertContainer").show();
		}

		$(document).on('click', '.radioclass', function () {
			if ($('#haveAccount').is(':checked')) {
				$('.radioclass').not(this).prop('checked', false);
			}
		});
	});
</script>
